{% extends "base.html" %} 
{% load static %}

{% block title %} Movie Reviews {% endblock %} 
{% block content %}
<nav class="navbar navbar-light bg-light p-2">
  <a class="navbar-brand" href="{% url 'moviereviews:index' %}">
    <img src="{% static 'movie_review/popcorn.png' %}" width="30" height="30" class="d-inline-block align-top mx-2" alt="popcorn">
    Movie Reviews
  </a>
</nav>
<div class="d-flex justify-content-between p-2">
  <div class="d-inline-flex">
    <label for="search-title" class="my-2"> 
      Search:
    </label>
    <input 
      id="search-title"
      class="form-control mx-1" 
      type="search" 
      name="title"
      hx-get="{% url 'moviereviews:search' %}"
      hx-trigger="keyup changed delay:100ms, search" 
      hx-target="#review-list"
      hx-indicator=".htmx-indicator"
    >
    <span class="htmx-indicator my-2"> 
      Searching... 
    </span> 
  </div>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#review-modal">
    Create review
  </button>
</div>
<div id="review-list">
  {% include 'movie_review/partials/reviews.html' %}
</div>
  {% include 'movie_review/partials/review_form.html' %}
{% endblock %}
