{% extends "base.html" %}

{% block title %} Movie Reviews {% endblock %} 
{% block content %}
<div class="d-flex justify-content-between py-3 align-items-center">
  <div class="d-inline-flex">
      <input 
      id="search-title"
      class="form-control rounded-pill"
      style="width: 16rem;"
      placeholder="Search movie title..."
      type="search" 
      name="title"
      hx-get="{% url 'moviereviews:search' %}"
      hx-trigger="keyup changed delay:100ms, search from:body" 
      hx-target="#review-list"
      hx-indicator=".htmx-indicator"
    >
    <div class="htmx-indicator spinner-border ms-2 text-secondary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <button
    type="button" 
    class="btn btn-primary rounded-pill"
    data-bs-toggle="modal" 
    data-bs-target="#modal"
  >
    Create
  </button>
</div>
<div id="review-list">
  {% include 'movie_review/partials/list.html' %}
</div>
{% include 'movie_review/partials/forms/create.html' %}
{% include 'movie_review/partials/forms/update.html' %}
{% endblock %}
