{% extends "base.html" %} 

{% block title %} Movie Reviews {% endblock %} 
{% block content %}
<div class="d-flex justify-content-between p-2">
  <div class="d-inline-flex">
    <label for="search-title" class="my-2"> 
      Search:
    </label>
    <input 
      id="search-title"
      class="form-control mx-1" 
      type="search" 
      name="title"
      hx-get="{% url 'moviereviews:search' %}"
      hx-trigger="keyup changed delay:100ms, search from:body" 
      hx-target="#review-list"
      hx-indicator=".htmx-indicator"
    >
    <span class="htmx-indicator my-2"> 
      Searching... 
    </span> 
  </div>
  <button 
    type="button" 
    class="btn btn-primary" 
    data-bs-toggle="modal" 
    data-bs-target="#modal" 
  >
    Create review
  </button>
</div>
<div id="review-list">
  {% include 'movie_review/partials/list.html' %}
</div>
{% include 'movie_review/partials/forms/create.html' %}
{% include 'movie_review/partials/forms/update.html' %}
{% endblock %}
