{% extends "registration/base.html" %}
{% load static %}

{% block content %}
  <form data-bitwarden-watching="1" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Sign in</h1>
    <div class="form-floating">
      <input
        type="text"
        name="username"
        autocapitalize="none"
        autocomplete="username"
        autofocus="true"
        class="form-control"
        value="{{ form.username.value|default:'' }}"
        id="username"
        required
      >
      <label for="username">Username</label>
    </div>
    <div class="form-floating">
      <input id="password" type="password" name="password" autocomplete="current-password" class="form-control" placeholder="Password" required>
      <label for="password">Password</label>
    </div>

    <div class="form-check text-start my-3">
      <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Remember me
      </label>
    </div>

    {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        Your username and password didn't match.
      </div>
    {% endif %}
    <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
    <input type="hidden" name="next" value="{{ next }}">
  </form>
{% endblock %}
